canvas {
  margin: 0 auto;
  padding: 0;
  display: block;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  width: 800px;
}

.instructions {
  margin: 2em auto;
  width: 800px;
}

.linkButton {
  margin: 0 20px;
  display: inline-flex;
}

.linkButtonWrapper {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
